$main-font-stack: "Montserrat", sans-serif;
$second-font-stack: "Lato", Light;
$paragraph-font-stack: "Roboto", sans-serif;
$main-font-size: 14px;
$second-font-size: 12px;
$slider-par-font-size: 10px;
$magazines-goodwek-font-size: 20px;
$magazines-harrods-font-size: 22px;
$magazines-vog-font-size: 24px;
$main-font-color: rgb(51, 51, 51);
$second-font-color: #fff;
$main-title-color: #171721;
$services-background-mobile-color: rgba(
  $color: #000000,
  $alpha: 1
);
$services-background-screen-color: rgba(
  $color: #000000,
  $alpha: 0.7
);
$services-background-screen-btn-color: rgba(
  $color: #000000,
  $alpha: 0.1
);
