.instagram-section {
  width: 320px;
  overflow: hidden;
  margin: 0 auto;
  height: 400px;
  margin-bottom: 30px;
  @media (min-width: 1200px) {
    margin-bottom: 60px;
    width: 750px;
  }
}

.instagram-section__title {
  @extend %paragraph;
  @extend %title;
  text-align: center;
  margin-bottom: 16px;
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .instagram-section__title--span {
    opacity: 0;
  }
  .instagram-section__title--spantext {
    font-size: $main-font-size;
  }
}
